body{
    font-family: 'Luxurious Roman', cursive;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.tomato-color{
    color: tomato;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
#half-width-img-no1{
    margin-top: 15px;
    padding-left: 30%;
    width: 50%;
}
#dream-big-p0{
    width: 120%;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(14, 199, 255), rgb(46, 79, 128));
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
#half-width-img-no2{
    width: 50%;
    padding-left: 0;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#dream-big-p{
    width: 90%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 5px 80px rgb(20, 59, 82);
}
#web-devo-experience{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(253, 157, 13), rgb(187, 255, 30));
    border-image-slice: 1;
}
#web-devo-junior{
    border-left: 7px solid;
    border-image: linear-gradient( rgb(202, 87, 87), rgb(78, 59, 59));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}